#cus-custom-id{
    width: 100px;
    height: 60px;
    border: 4px solid #32008E;
    border-radius: 10px 10px 10px 10px;
    left: 40px;
    top: 40px;
    position: absolute;
}

#cus-custom-user{
    width: 200px;
    height: 60px;
    border: 4px solid #32008E;
    border-radius: 10px 10px 10px 10px;
    left: 160px;
    top: 40px;
    position: absolute;
}

#cus-custom-address{
    width: 200px;
    height: 60px;
    border: 4px solid #32008E;
    border-radius: 10px 10px 10px 10px;
    left: 380px;
    top: 40px;
    position: absolute;
}

#cus-custom-mobile{
    width: 280px;
    height: 60px;
    border: 4px solid #32008E;
    border-radius: 10px 10px 10px 10px;
    left: 600px;
    top: 40px;
    position: absolute;
}

#cus-custom-search{
    width: 180px;
    height: 60px;
    border: 4px solid #32008E;
    border-radius: 10px 10px 10px 10px;
    left: 40px;
    top: 120px;
    position: absolute;
}

.btn{
    background-color: #32008E;
    color: #FFFFFF;
}

.cus-custom-table{
  width: 92vw;
  margin: auto;
  border: 4px solid #32008E;
  border-radius: 10px;

  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
}

.cus-custom-btn{
  position: absolute;
  right: 40px;
  top: 130px
}

.cus-custom-btn>button{
  background-color: #32008E;
  font-weight: bold;
}

@media all and (max-width: 600px) {
    #cus-custom-id{
        width: 100px;
        height: 60px;
        border: 4px solid #32008E;
        border-radius: 10px 10px 10px 10px;
        left: 20px;
        top: 40px;
        position: absolute;
    }

    #cus-custom-user{
        width: 180px;
        height: 60px;
        border: 4px solid #32008E;
        border-radius: 10px 10px 10px 10px;
        left: 140px;
        top: 40px;
        position: absolute;
    }

    #cus-custom-address{
        width: 180px;
        height: 60px;
        border: 4px solid #32008E;
        border-radius: 10px 10px 10px 10px;
        left: 20px;
        top: 120px;
        position: absolute;
    }

  #cus-custom-mobile{
      width: 200px;
      height: 60px;
      border: 4px solid #32008E;
        border-radius: 10px 10px 10px 10px;
      left: 220px;
      top: 120px;
      position: absolute;
  }

  #cus-custom-search{
      width: 180px;
      height: 60px;
      border: 4px solid #32008E;
      border-radius: 10px 10px 10px 10px;
      left: 20px;
      top: 200px;
      position: absolute;
  }

  #btn{
      background-color: #32008E;
      top: 206px;
      position: absolute;
  }

  .cus-custom-btn{
    position: absolute;
    right: 20px;
    top: 280px
  }

  .cus-custom-table{
    width: 92vw;
    margin: auto;
    border: 4px solid #32008E;
    border-radius: 10px;

    position: absolute;
    top: 330px;
    left: 0;
    right: 0;
  }
}