.dash-custom-nav{
    width: 75px;
    background-color: white;
    color: #32008E;
    border: 1px solid #32008E;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    left: 17px;
  }

  .dash-custom-nav:hover{
    background-color: #32008E;
    color: white;
    border-radius: 10px 10px 10px 10px;
  }

  .dash-custom-dash-customer{
    border: 3px solid #32008E;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    left: 50px;
    top: 50px;
  }

  .dash-custom-product{
    border: 3px solid #32008E;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    right: 50px;
    top: 50px;
  } 

  .card{
    background-color: rgba(255, 255, 255, 0.486);
    border: 3px solid #32008E;
  }

  .card-group{
    width: 92vw;
    display: flex;
    position: absolute;

    margin: auto;
    top: 30px;
    left: 0;
    right: 0;
  }

  .dash-custom-table{
    width: 92vw;
    position: absolute;
    margin: auto;
    border: 4px solid #32008E;
    border-radius: 10px;

    top: 250px;
    left: 0;
    right: 0;
  }