  .pane{
    width: 98vw;
    height: 83vh;
    position: absolute;
    border-radius: 10px 10px 10px 10px;

    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
  }

  .neworder-custom-id{
    position: absolute;
    top: 0px;
    left: 30px;
  }

  .detail{
    width: 80vw;
    position: absolute;

    top: 0;
    left: 0;
    right:0;
    margin: auto;  
  }

  .btn{
    margin-left: 3px;
  }

  .btn-grp{
    display: flex;
    justify-content: end;
  }

  .neworder-custom-table{
    width: 80vw;
    position: absolute;
    margin: auto;

    border: 4px solid #32008E;
    border-radius: 10px 10px 10px 10px;

    top: 360px;
    left: 0;
    right: 0;
  }

  label{
    font-weight: bold;
  }

  .cus-label{
    color: #32008E;
  }

  .form-control{
    border: 4px solid #32008E;
    border-radius: 10px 10px 10px 10px;
  }

  .form-select {
    border: 4px solid #32008E;
    border-radius: 10px 10px 10px 10px;
  }

  .custom-place{
    position: absolute;
    right: 130px;
    bottom: 10px;
  }

  .custom-add{
    position: absolute;
    right: 130px;
    bottom: 278px;
    background-color: #FFF;
    color: #32008E;
    border: #32008E 3px solid;
  }

  @media all and (max-width: 768px) {
    .neworder-custom-table{
      width: 80vw;
      position: absolute;
      margin: auto;

      border: 4px solid #32008E;
      border-radius: 10px 10px 10px 10px;

      top: 1010px;
      left: 0;
      right: 0;
    }

    .custom-place{
      position: absolute;
      right: 100px;
      bottom: 50px;
    }
  
    .custom-add{
      position: absolute;
      right: 250px;
      bottom: 50px;
    }
  }