.order-custom-table{
    width: 92vw;
    position: absolute;
    margin: auto;

    border: 4px solid #32008E;
    border-radius: 10px 10px 10px 10px;

    top: 50px;
    left: 0;
    right: 0;
  }
  .order-custom-btn{
    position: absolute;
    right: 40px;
    bottom: 40px
  }

  .btn{
    background-color: #32008E;
    font-weight: bold;
  }