#pro-custom-id{
    width: 100px;
    height: 60px;
    border: 4px solid #32008E;
    border-radius: 10px 10px 10px 10px;
    left: 40px;
    top: 40px;
    position: absolute;
}

#pro-custom-name{
    width: 180px;
    height: 60px;
    border: 4px solid #32008E;
    border-radius: 10px 10px 10px 10px;
    left: 160px;
    top: 40px;
    position: absolute;
}

#pro-custom-type{
    width: 180px;
    height: 60px;
    border: 4px solid #32008E;
    border-radius: 10px 10px 10px 10px;
    left: 360px;
    top: 40px;
    position: absolute;
}

#pro-custom-qty{
    width: 150px;
    height: 60px;
    border: 4px solid #32008E;
    border-radius: 10px 10px 10px 10px;
    left: 560px;
    top: 40px;
    position: absolute;
}

#pro-custom-price{
    width: 150px;
    height: 60px;
    border: 4px solid #32008E;
    border-radius: 10px 10px 10px 10px;
    left: 730px;
    top: 40px;
    position: absolute;
}

#pro-custom-search{
    width: 180px;
    height: 60px;
    border: 4px solid #32008E;
    border-radius: 10px 10px 10px 10px;
    left: 40px;
    top: 120px;
    position: absolute;
}

.btn{
    background-color: #32008E;
    color: #FFFFFF;
}

.pro-custom-table{
  width: 92vw;
  margin: auto;
  border: 4px solid #32008E;
  border-radius: 10px;

  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
}

.pro-custom-btn{
  position: absolute;
  right: 40px;
  top: 130px
}

.pro-custom-btn>button{
  background-color: #32008E;
  font-weight: bold;
}
@media all and (max-width: 600px) {
    #pro-custom-id{
      width: 80px;
      height: 60px;
      border: 4px solid #32008E;
      border-radius: 10px 10px 10px 10px;
      left: 20px;
      top: 40px;
      position: absolute;
  }

  #pro-custom-name{
      width: 140px;
      height: 60px;
      border: 4px solid #32008E;
      border-radius: 10px 10px 10px 10px;
      left: 120px;
      top: 40px;
      position: absolute;
  }

  #pro-custom-type{
      width: 140px;
      height: 60px;
      border: 4px solid #32008E;
      border-radius: 10px 10px 10px 10px;
      left: 280px;
      top: 40px;
      position: absolute;
  }

  #pro-custom-price{
      width: 100px;
      height: 60px;
      border: 4px solid #32008E;
      border-radius: 10px 10px 10px 10px;
      left: 140px;
      top: 120px;
      position: absolute;
  }

  #pro-custom-qty{
      width: 100px;
      height: 60px;
      border: 4px solid #32008E;
      border-radius: 10px 10px 10px 10px;
      left: 20px;
      top: 120px;
      position: absolute;
  }

  #pro-custom-search{
      width: 180px;
      height: 60px;
      border: 4px solid #32008E;
      border-radius: 10px 10px 10px 10px;
      left: 20px;
      top: 200px;
      position: absolute;
  }

  #btn{
      background-color: #32008E;
      top: 206px;
      position: absolute;
  }

  .pro-custom-btn{
    position: absolute;
    right: 20px;
    top: 280px
  }

  .pro-custom-table{
    width: 92vw;
    margin: auto;
    border: 4px solid #32008E;
    border-radius: 10px;

    position: absolute;
    top: 330px;
    left: 0;
    right: 0;
  }
}